doctype html
html
	head
		style
			include public/css/fetch.css
			include public/css/magic.css

		link(rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css")
		
		title="fetchtest"
	body(onload="//updateMap();")
		div(id="pos")
		button(onclick="test();" class="hidden") nappi
		button(onclick="updateMap();") download 
		div(id="map")
		input(type="range" min=0 max=1 step=0.001 class="hidden" oninput="muuttu();" id="ranger")
		div(id="rangeValue" class="hidden") 0.5
		div(id="rangeColor" width="100px" class="hidden" height="100px")
		div(class="" id="loadingIndicator" class="hidden")
		img(src="/graphics/li_icon.png" class="hidden" id="li")
script(src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js")
script(src="/js/util/trig.js")
script(src="/js/util/dateParser.js")
script(src="/socket.io/socket.io.js")
script(src="/js/jquery.js")
script(src="/js/fetch.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBej9fCwuETi14G6kfLYbQVo-WNahaskqI&callback=initMap")
