doctype html
html
	head
		title= pageTitle
	body
	#container.col
		if user=="admin"
			p hi admin
		else
			p not permitted 

script(src="socket.io/socket.io.js")
script(type='text/javascript').
	//-	var socket = io("https://" + document.domain);
	var socket = io({secure: true});	
	socket.emit("*", {name: "test", message: "moi"});
	socket.on("answer", function (data) {
		console.log(data);
	});
